/* Vachan Dhillon, 2018/10/19, JavaScript Final Project, vachan.dhillon@edu.sait.ca */
body{
    width:100%;
    height:100vh;
    margin:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* NAVIGATION BAR */
.navBar{
    display:flex;
    justify-content: flex-start;
    width:100%;
    align-items: center;
    background-image: linear-gradient(to right,transparent,rgb(167, 230, 255));
    margin-bottom:70px;
}

.navBar h2{
    margin-left:30px;
    margin-right:auto;
}

.theLinks{
    display: flex;
}

.theLinks ul{
    list-style-type: none;
}

.theLinks ul li{
    display: inline;
    padding:12px 20px 12px 12px;
}

.theLinks ul a{
    text-decoration: none;
}

.linkContainer li{
    height:150px;
    width:100px;
    background-color: rgb(226, 223, 223);
}

.linkContainer li:hover{
    background-color:skyblue;
    height:50px;
}

/* mobile menu */
.mobileMenu{
    display: none;
    position:absolute;
    z-index: 1;
    animation-name: menuenter;
    animation-duration: 1.5s;
}
    @keyframes menuenter{
        from{
            margin-left: 100%;
        }
        to{
            margin-left:0%;
        }
    }

.mobileMenu ul li{
    background-color: rgb(162, 253, 246);
    padding:1px;
}

.mobileMenu ul li:hover{
    background-color: skyblue;
}

@media (max-width: 620px){
    .mobileMenu{
        display: flex;
    }
    .theLinks{
        display: none;
    }
}

.mobileMenu ul{
    list-style-type: none;
}

.mobileMenu ul li{
    padding: 5px;
}

/* INDEX CONTENT */
.indexContent{
    display: flex;
    flex-direction: column;
    width:50%;
}

.bodyIndex{
    background: linear-gradient(to right, transparent, white), url("../pics/indexWall.jfif");
}

/* CONTACT US CONTENT */
.contactBody{
    background: linear-gradient(to right, transparent, white), url("../pics/contactBody.jfif");
}

.contactContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    border: solid 1px grey;
    background-color: white;
}

/* VACATION PACKAGES */
.packages{
    margin-top:10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.packs{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    background-color: rgb(216, 216, 216);
    padding:5px;
}

.packs:hover{
    background-color:skyblue;
}

.pImage{
    margin-top:10px;
    height:400px;
    width:500px;
    background-image: url("../pics/vacationDefault.jfif");
    background-size:cover;
}

.flyHolder{
    width:100%;
}

/* //REGISTER PAGE// */
.regForm{
    border:solid 1px black;
    padding:5px;
    margin-bottom:20px;
}

.regForm h2{
    margin:0;
    margin-left:45px;
}

.regForm input{
    margin-bottom:5px;
}

.subHold{
    margin-top:5px;
    display:flex;
    justify-content: center;
    margin-bottom:5px;
}

.subHold button:hover{
    background-color:skyblue;
}

#randomUser{
    display:flex;
    flex-wrap: wrap;
    
}

/* FOOTER */
.footer{
    position: absolute;
    bottom:0;
    display:flex;
    justify-content: center;
    width:100%;
    background-image: linear-gradient(to right,transparent,rgb(167, 230, 255));
}
